# python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=5740c76264d59cd86902e86109f64d18404020ff66e885541bee77d35d4f1922

# Base de données
DATABASE_URL=sqlite:///pixelmarket.db

# Debug — Mettre à 0 en prod !!!!
FLASK_DEBUG=1

# Configuration email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ton@gmail.com
MAIL_PASSWORD=ton-mot-de-passe-app
MAIL_DEFAULT_SENDER=noreply@pixelmarket.ch